#Reading and Writing into csv

In [39]:
import pandas as pd
from pandas import DataFrame
import datetime

In [67]:
df = pd.read_excel('C:\Users\omc\Desktop\Machine-Learning-prerequisites\PopulationProjection2016.xlsx')

In [68]:
df.head()

,State,Male,Female,Total,Male .1,Female .1,Total.1
1,Andaman & Nicobar Islands,17547,17768,35315,11034,11198,22232
2,Andhra Pradesh,2165879,2032435,4198320,1309000,1229445,2538440
3,Arunachal Pradesh,88695,85828,174523,39439,38352,77791
4,Assam,1792270,1714270,3506540,944482,894428,1838910
5,Bihar,7834139,7183699,15017838,3654434,3076180,6730614

In [69]:
df.to_csv('C:\Users\omc\Desktop\Machine-Learning-prerequisites\PopulationProjection2016.csv')

In [70]:
df_new = pd.read_csv('C:\Users\omc\Desktop\Machine-Learning-prerequisites\PopulationProjection2016.csv')

In [71]:
df_new.head()

,Unnamed: 0,State,Male,Female,Total,Male .1,Female .1,Total.1
0,1,Andaman & Nicobar Islands,17547,17768,35315,11034,11198,22232
1,2,Andhra Pradesh,2165879,2032435,4198320,1309000,1229445,2538440
2,3,Arunachal Pradesh,88695,85828,174523,39439,38352,77791
3,4,Assam,1792270,1714270,3506540,944482,894428,1838910
4,5,Bihar,7834139,7183699,15017838,3654434,3076180,6730614