In [15]:
import pandas as pd
import matplotlib.pyplot as plt
from pandas import Series, DataFrame

In [5]:
df  = pd.read_excel('C:\Users\omc\Desktop\Machine-Learning-prerequisites\PopulationProjection2016.xlsx',header=[0])

In [7]:
df.head()

,State,Male,Female,Total,Male .1,Female .1,Total.1
0,Andaman & Nicobar Islands,17547,17768,35315,11034,11198,22232
1,Andhra Pradesh,2165879,2032435,4198320,1309000,1229445,2538440
2,Arunachal Pradesh,88695,85828,174523,39439,38352,77791
3,Assam,1792270,1714270,3506540,944482,894428,1838910
4,Bihar,7834139,7183699,15017838,3654434,3076180,6730614

In [9]:
del df['Male .1']
del df['Female .1']
del df['Total.1']

KeyError: 'Male .1'

In [11]:
df.head()

                       State    Male   Female      Total
0  Andaman & Nicobar Islands    17547    17768     35315
1             Andhra Pradesh  2165879  2032435   4198320
2          Arunachal Pradesh    88695    85828    174523
3                      Assam  1792270  1714270   3506540
4                      Bihar  7834139  7183699  15017838

In [19]:
df['STD'] = Series.rolling(df['Total'].std(), 25, min_periods=1)

TypeError: unbound method rolling() must be called with Series instance as first argument (got float instance instead)